*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 5%;
}

.api-box {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 1.5rem;
}

img {
    width: 85%;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

