* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}

.wrapper {
    background-color: rgb(58, 58, 58);
    width: 100vw;
    height: 100vh;
    padding-top: 10% ;
}

.rounds-box {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}

.rounds-box h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.round-counter {
    font-size: 20px;
    margin-bottom: 15px;
}

.counter {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.counter input {
    margin-right: 5px;
}
.counter label {
    margin-right: 15px;
    font-size: 15px;
}


.spielfeld {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 450px;
    height: 130px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}

.spielfeld h5 {
    font-size: 15px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    border: 1px solid whitesmoke;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spielfeld .icon {
    margin-bottom: 10px;
}

.emoji {
    font-size: 40px;
}

.score {
    display: flex;
}

.score p {
    font-size: 50px;
}


.actions {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
}

.actions h1 {
    font-size: 42px;
    font-weight: 00;
    margin-bottom: 20px;
    text-align: center;
    height: 100px;
}

.actions .play-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.actions h4 {
    font-size: 15px;
    margin-bottom: 20px;
}

.actions .choose input {
    background-color: rgb(58, 58, 58);
    box-shadow: none;
    border: 1px solid whitesmoke;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    font-size: 40px;
    margin-left: 20px;
}


.actions button {
    font-size: 15px;
    margin-bottom: 20px;
}

.actions button {
    background-color: #f9cb23;
    padding: 5px 10px;
    border: 1px solid whitesmoke;
    color: whitesmoke ;
}
